@page
@model LuckStack3.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1 style="color:red">我最帅</h1>
<p>
    我最帅
    <s>他最帅，划掉</s>
    <b>我是万人迷</b>
    <!--<s>手动滑稽脸，划掉</s>-->
    <img src="~/images/banner1.svg" alt="广告" title="好看吗？"/>
</p>
<table border="1">
    <thead>
        <tr>
            <th colspan="3">header</th><!--colspan:横向合并-->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" rowspan="3" >Aritcle</td><!--rowspan:纵向合并-->
            <td>widget-1</td>
        </tr>
        <tr>
            <td>widget-2</td>
        </tr>
        <tr>
            <td>widget-3</td>
        </tr>
        <tr>
            <td colspan="3">footer</td>
        </tr>
    </tbody>
</table>
<<header>我来组成头部</header>
<nav>我来组成导航</nav>
<article>
    <a href="http://baidu.com" title="我不是百度" target="_blank">我是跳转</a>
    <a href="http://baidu.com" title="我不是百度" target="_self">我不会跳转</a>
    <a href="/log/on" title="我只使用路径，不用协议和域名" target="_blank">登陆本地,</a
<!--绝对路径-->
</article>


