@page
@model LuckStack3.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h1>注册</h1>
<form method="post" action="~/Index">
<label>用户名</label>
    <input  type="text" name="username" value="帅哥"/>
    <br />
    <input type="submit" value="提交" />
</form>
<h2>Register</h2>

